:root {
  --width-container: 80%;
  --color-main: rgb(7, 189, 47)
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.content {
  width: var(--width-container);
  margin: 0 auto;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  position: static;
}

.menuHeader {
  display: flex;
}

.menuHeader>p {
  padding: 0 10px;
  font-weight: 700;
}

.menuHeader>p:hover {
  color: var(--color-main);
  cursor: pointer;
}

.infoHome {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-main);
  color: white;
  border: solid 1px var(--color-main);
}

.button:hover {
  background-color: white;
  color: var(--color-main);
  cursor: pointer;
}

.aboutMe {
  display: flex;
  justify-content: space-between;
}

.about__img {
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
}

.aboutText {
  font-size: 16px;
  margin: 10px 0 50px 0;
  position: relative;
}

.aboutText::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  left: 0;
  bottom: -30px;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.reportSlider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.carousel {
  width: 100%;
  height: 300px;
  /* background-color: red; */
}

.reportSliderView {
  width: calc(100% / 3 - 80px);
  height: 200px;
  margin: 10px 50px 10px 0;
  padding: 20px;
  border-radius: 6px;
  /* background-color: red; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
}

.reportSliderImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 6px;
}

.reportSliderInfo {
  display: flex;
  margin-bottom: 20px;
}

.textDescription {
  font-size: 18px;
  width: 50%;
  text-align: center;
  margin-bottom: 50px;
}

.my-portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-img {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
  width: 100%;
  gap: 20px;
}

.portfolio-img-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  height: 200px;
}

.portfolio-img-item:hover {
  scale: 1.1;
}

.line {
  width: 100%;
}

.line-view {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 100%;
  padding: 80px 0;
}

.line-view-item {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.line-title {
  font-size: 32px;
  font-weight: bold;
}

.line-description {
  font-size: 20px;
}

.experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.experience-view {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  width: 100%;
}

.experience-item {
  padding: 30px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
  margin-top: 25px;
}

.experience-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.experience-title-extra {
  font-size: 18px;
  margin-bottom: 30px;
  position: relative;
}

.experience-title-extra::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #bebebe;
  left: 0;
  bottom: -15px;
}

.experience-year {
  color: aqua;
}

.blog {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.blog-view {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 30px;
  width: 100%;
}

.blog-item {
  background-color: #f0f0f0;
  border-radius: 6px;
  margin-top: 25px;
}

.blog-img {
  background-color: red;
  height: 200px;
}

.blog-content {
  padding: 15px;
}

.blog-position {
  color: rgb(22, 163, 81);
  font-weight: bold;
}

.blog-title {
  font-size: 20px;
  font-weight: bold;
  margin: 8px 0;
}

.blog-description {
  margin: 8px 0;
}

.link {
  font-size: 20px;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

.input {
  height: 30px;
  margin-bottom: 30px;
  padding: 0 0 5px ;
  font-size: 18px;
}

.input::placeholder {
  font-size: 18px;
  color: #b1acac;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid rgb(22, 163, 81);
}

.input--noBorder {
  border: none;
  border-bottom: 1px solid #b1acac;
}

.input--textarea {
  height: 100px;
}

.google--map {
  margin-top: 70px;
  height: 370px;
}

.footer__overight {
  text-align: center;
  height: 70px;
  line-height: 70px;
  border-top: 1px solid #dfdada;
}

.footer__text {
  color: #9c9797;
  font-size: 15px;
}

.custom-class {
  height: 35px !important;
  width: 35px !important;
  margin-left: 50px;
}

.custom-class:hover .social-svg-icon {
  fill: black !important;
  transform: rotateY(360deg);
}

.custom-class:hover .social-svg-mask {
  fill: white !important;
}

.footer__social {
  width: 100%;
  text-align: center;
  padding: 70px 0 50px;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}